# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral/

# Node / React
node_modules/
dist/
build/

# Docker
*.log
docker-volume/

# OS
.DS_Store
Thumbs.db
